*{

    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; padding: 0; margin: 0;
    font-size: large;

}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    background-color: dodgerblue;
    }


.imagem{
    position: relative;
}    

.topText{
    position:absolute;
    color: aliceblue;
    top: 8px;
    left: 16px;
    font-size: 18px;
}


.capitais{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
    padding: 50px;
    background-color: aliceblue;    
}

.capitais > div{
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #888888 ;
    margin: 10px;
}

.capitais img{
    border-radius: 20px 0 0 20px;
    height: 100%;
}

.capitais div div:last-child{
    width: 150px;
    background-color: white;
    padding: 20px;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quadrado{
    background: lightblue;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    
}

.circulo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: aqua;
    position: relative;
    overflow: hidden;
}

.circulo:hover img{
    opacity: 1;
    z-index: 1;
}

.circulo img{
    position: absolute;
    top:50%;
    left:50%;
    
    opacity: 0;
    z-index: -1;

}

header{
    position:sticky;
    display:flex;
    justify-content:space-between;
    background-color: rgb(0, 78, 156);
    color: white;
}

header h1{
    text-align: center;
    text-align: left;
}

header a{
    padding:20px;
    text-decoration: none;
    color:black;
}

header a:hover{
    color:#888888;
    font-weight: bold;

}

.contentor > *{
    background-color: rgb(218, 179, 128);
    opacity: 0.6;
    border: 1px solid black;
    padding: 1rem;
    font-size: 2rem;
    color: black;
}

header {grid-area: header;}
nav {grid-area: nav;}
main {grid-area: main;}
aside {grid-area: aside;}
footer {grid-area: footer;}

div.contentor{
    height: 500px;
    background-color: rgb(243, 170, 61);
    display: grid;

    grid-template-areas: 
    'header   nav    nav'
    'main     main   aside'
    'footer   footer footer';


    gap: 10px;
    padding: 30 px;
    grid-template-columns: 20vw 3fr 2fr;
    grid-template-rows: 15vh 1fr 100px;
}






.contentor2 > *{
    background-color: rgb(218, 179, 128);
    opacity: 0.6;
    border: 1px solid black;
    padding: 1rem;
    font-size: 2rem;
    color: black;
}

header {grid-area: header;}
nav {grid-area: nav;}
main {grid-area: main;}
aside {grid-area: aside;}
footer {grid-area: footer;}

div.contentor2{
    height: 500px;
    background-color: rgb(243, 170, 61);
    display: grid;

    grid-template-areas: 
    'header   header    nav'
    'main     aside   footer';


    gap: 10px;
    padding: 30 px;
    grid-template-columns: 20vw 700px 2fr;
    grid-template-rows: 15vh 325px;
}


.contentor3 > *{
    background-color: rgb(233, 220, 163);
    opacity: 0.6;
    border: 1px solid black;
    padding: 1rem;
    font-size: 2rem;
    color: black;
}

header {grid-area: header;}
nav {grid-area: nav;}
main {grid-area: main;}
aside {grid-area: aside;}
footer {grid-area: footer;}

div.contentor3{
    height: 820px;
    background-color: rgb(212, 107, 107);
    display: grid;

    grid-template-areas: 
    'nav      header    header'
    'nav     main      aside'
    'footer   footer    footer';


    gap: 10px;
    padding: 30 px;
    grid-template-columns: 20vw 700px 2fr;
    grid-template-rows: 15vh 325px 300px;
}



.contentor4 > *{
    background-color: rgb(85, 165, 255);
    opacity: 0.6;
    border: 1px solid black;
    padding: 1rem;
    font-size: 2rem;
    color: black;
}

header {grid-area: header;}
nav {grid-area: nav;}
main {grid-area: main;}
aside {grid-area: aside;}
footer {grid-area: footer;}

div.contentor4{
    height: 610px;
    background-color: rgb(136, 251, 255);
    display: grid;

    grid-template-areas: 
    'header      header    aside'
    'footer      main      aside'
    'nav         nav       nav';


    gap: 10px;
    padding: 30 px;
    grid-template-columns: 30vw 500px 1fr;
    grid-template-rows: 15vh 325px 100px;
}






.contentor5 > *{
    background-color: rgb(129, 248, 154);
    opacity: 0.6;
    border: 1px solid black;
    padding: 1rem;
    font-size: 2rem;
    color: black;
}

header {grid-area: header;}
nav {grid-area: nav;}
main {grid-area: main;}
aside {grid-area: aside;}
footer {grid-area: footer;}

div.contentor5{
    height: 610px;
    background-image:url("imagens/milao.png");
    background-size:cover;
    display: grid;

    grid-template-areas: 
    'header      footer    nav'
    'header      main   main';


    gap: 10px;
    padding: 30 px;
    grid-template-columns: 30vw 500px 1fr;
    grid-template-rows: 15vh 325px 100px;
}





.contentor6 > *{
    background-color: rgb(129, 248, 154);
    opacity: 0.6;
    border: 1px solid black;
    padding: 1rem;
    font-size: 2rem;
    color: black;
}

header {grid-area: header;}
nav {grid-area: nav;}
main {grid-area: main;}
aside {grid-area: aside;}
footer {grid-area: footer;}

div.contentor6{
    height: 500px;
    background-image:url("imagens/paris.png");
    background-size:cover;
    display: grid;

    grid-template-areas: 
    'nav      header    header'
    'main      main   footer';


    gap: 10px;
    padding: 30 px;
    grid-template-columns: 30vw 500px 1fr;
    grid-template-rows: 15vh 325px 100px;
}

